---
import { Icon } from "astro-icon/components";
// import ThemeSwitcher from "~/components/theme-switcher.astro";
import type { NavItem } from "~/types";
import SocialMedia from "./social-media.astro";

const navItems: Array<NavItem> = [
  { title: "Главное", url: "#main" },
  { title: "О форуме ", url: "#about" },
  { title: "События", url: "#events" },
  { title: "Спикеры", url: "#speakers" },
  { title: "Программа", url: "#program" },
  { title: "Контакты", url: "#contacts" },
];
---

<header
  id="page-header-1"
  class="max-w-[1280px] mx-auto font-railway z-20 flex bg-transparent w-full items-center justify-between px-8 py-4 text-white"
>
  <a class="sm:hidden flex items-center gap-3 hover:!text-default" href="">
    <svg width="209" height="49" viewBox="0 0 209 49" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="24.5" cy="24.5" r="24.5" fill="url(#paint0_linear_1_92)"/>
      <g filter="url(#filter0_d_1_92)">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M23.6967 6.15841C24.3423 6.04428 24.7042 6.04283 25.3498 6.15841V7.64909C24.7155 7.55694 24.3562 7.53527 23.6967 7.64909V6.15841ZM34.7661 9.46446C35.4026 9.77265 35.6995 10.0369 36.1682 10.6009L35.2679 11.6488C34.7426 11.2032 34.4308 10.9756 33.8511 10.6009L34.7661 9.46446ZM14.0885 17.0507V11.7669C16.0885 9.73111 17.7504 8.83466 21.9847 7.81147V6.30604C18.1586 7.00148 16.0561 7.85995 12.4355 10.8076V15.5748H8.45054C7.25081 18.0702 6.70643 19.4851 6.45805 22.0983H7.93397C8.21296 20.1334 8.50503 19.0284 9.29181 17.0507H14.0885ZM32.5818 9.93674C30.4916 8.68861 29.2962 8.19825 27.0913 7.97377V6.32074C29.6861 6.81828 31.0966 7.32764 33.5263 8.68221L32.5818 9.93674ZM33.4378 19.117C26.8298 15.1265 22.96 14.7752 15.6235 19.117C16.37 13.2457 19.4735 9.78693 24.5085 9.77443C29.5554 9.7619 33.1836 14.3541 33.4378 19.117ZM12.2731 21.8916C12.9415 21.8916 13.4834 21.3498 13.4834 20.6814C13.4834 20.0129 12.9415 19.4711 12.2731 19.4711C11.6047 19.4711 11.0629 20.0129 11.0629 20.6814C11.0629 21.3498 11.6047 21.8916 12.2731 21.8916ZM11.7418 24.3121C11.7418 24.9805 11.1999 25.5223 10.5315 25.5223C9.86314 25.5223 9.32129 24.9805 9.32129 24.3121C9.32129 23.6437 9.86314 23.1018 10.5315 23.1018C11.1999 23.1018 11.7418 23.6437 11.7418 24.3121ZM18.7333 30.7316C18.7333 31.3702 18.2386 31.8933 17.6115 31.9387V32.4391L16.5561 33.4945L21.9551 38.7612V42.4067C18.0317 41.6557 16.1327 40.7725 13.1734 38.5398L14.2066 37.5362C16.5491 39.1759 17.887 39.929 20.3759 40.5766V39.3368L15.2988 34.5253L12.0813 37.6395C8.16469 33.233 6.29672 30.5478 6.36948 23.5297H8.30293V24.9171H7.91919C8.00938 27.6431 8.31134 29.0176 9.29179 31.2045L15.6235 24.9171V21.1535C23.1584 16.1771 27.1274 16.5705 33.4525 21.1535L33.5706 24.9171L39.6661 31.2045C39.7707 30.9298 39.8706 30.6826 39.9655 30.4477C40.4996 29.1263 40.8769 28.1927 41.0387 24.9171H39.9471C39.7378 25.2789 39.3467 25.5223 38.8987 25.5223C38.2303 25.5223 37.6884 24.9804 37.6884 24.312C37.6884 23.6436 38.2303 23.1018 38.8987 23.1018C39.2688 23.1018 39.6002 23.268 39.8222 23.5297H42.5885C42.6416 29.0448 41.5645 31.4837 39.002 35.4551L37.9246 34.422L39.002 32.7837L37.1423 31.0422L34.8547 33.3741L38.0869 36.6211L37.6884 37.0787L37.1423 37.8166L33.6887 34.5253L28.6411 39.4549V42.1263L27.1061 42.4067V38.7612L32.4614 33.4639L31.3966 32.4391V31.726C30.7804 31.6698 30.2978 31.1517 30.2978 30.5209C30.2978 29.8525 30.8397 29.3106 31.5081 29.3106C32.1765 29.3106 32.7183 29.8525 32.7183 30.5209C32.7183 30.7726 32.6414 31.0065 32.5099 31.2001L32.5773 31.1698L33.6268 32.3269L36.0206 29.9943L32.3013 26.1864L24.6118 33.7431L16.7304 26.1864L12.9225 29.95L15.3911 32.358L16.4567 31.3046C16.3649 31.1341 16.3128 30.9389 16.3128 30.7316C16.3128 30.0632 16.8546 29.5214 17.523 29.5214C18.1914 29.5214 18.7333 30.0632 18.7333 30.7316ZM37.3593 11.8205L36.3409 12.8832C38.739 15.3757 39.7426 17.0019 40.6654 20.4841H38.1022C37.9255 20.0347 37.4877 19.7166 36.9755 19.7166C36.3071 19.7166 35.7653 20.2585 35.7653 20.9269C35.7653 21.5953 36.3071 22.1371 36.9755 22.1371C37.302 22.1371 37.5983 22.0079 37.816 21.7977H41.0048V22.329H42.5103C41.6436 17.8118 40.8204 15.401 37.3593 11.8205ZM19.5893 31.7011L18.4971 32.7933L23.7071 37.9147V42.9033H25.4044V37.9147L30.5996 32.7933L29.4041 31.7011L24.5041 36.3207L19.5893 31.7011ZM36.9504 17.5819C37.6188 17.5819 38.1607 17.0401 38.1607 16.3717C38.1607 15.7033 37.6188 15.1614 36.9504 15.1614C36.282 15.1614 35.7402 15.7033 35.7402 16.3717C35.7402 17.0401 36.282 17.5819 36.9504 17.5819ZM20.3464 23.1018L24.4347 27.0867L28.6853 23.1018L29.8661 24.1939L24.5528 29.463L19.1657 24.1939L20.3464 23.1018ZM11.7418 31.0127L10.015 32.7691C10.6793 33.8965 11.1301 34.4857 12.0813 35.4552L14.1476 33.3742C13.1702 32.5088 12.6429 31.9925 11.7418 31.0127ZM34.8547 37.4923L33.3057 38.8221C33.0855 38.5937 32.7764 38.4516 32.4342 38.4516C31.7658 38.4516 31.2239 38.9934 31.2239 39.6618C31.2239 40.3303 31.7658 40.8721 32.4342 40.8721C32.9016 40.8721 33.3072 40.6071 33.5088 40.2191L35.9321 38.5549L34.8547 37.4923Z" fill="white"/>
      </g>
      <path d="M71.8565 20.5H67.2724V8.58598H71.8099C73.0355 8.58598 74.0942 8.82449 74.9862 9.30152C75.8821 9.77466 76.5724 10.4572 77.0572 11.3492C77.5459 12.2374 77.7902 13.3019 77.7902 14.543C77.7902 15.784 77.5478 16.8506 77.063 17.7426C76.5783 18.6307 75.8918 19.3133 75.0037 19.7903C74.1156 20.2634 73.0665 20.5 71.8565 20.5ZM70.5068 17.7542H71.7401C72.3296 17.7542 72.8318 17.6592 73.2468 17.4691C73.6657 17.2791 73.9837 16.9514 74.2009 16.486C74.4219 16.0206 74.5325 15.3729 74.5325 14.543C74.5325 13.713 74.42 13.0654 74.1951 12.6C73.974 12.1346 73.6482 11.8069 73.2177 11.6168C72.7911 11.4268 72.2676 11.3318 71.647 11.3318H70.5068V17.7542ZM82.5212 8.58598V20.5H79.2867V8.58598H82.5212ZM91.7912 12.5185C91.7408 12.313 91.6613 12.1326 91.5527 11.9775C91.4441 11.8185 91.3084 11.6847 91.1455 11.5761C90.9865 11.4636 90.8003 11.3803 90.587 11.326C90.3776 11.2678 90.1468 11.2387 89.8947 11.2387C89.3518 11.2387 88.8883 11.3686 88.5044 11.6285C88.1243 11.8883 87.8335 12.2626 87.6318 12.7512C87.434 13.2399 87.3351 13.8294 87.3351 14.5197C87.3351 15.2178 87.4301 15.8151 87.6201 16.3115C87.8102 16.8079 88.0933 17.188 88.4695 17.4517C88.8457 17.7154 89.313 17.8473 89.8715 17.8473C90.364 17.8473 90.7732 17.7755 91.0989 17.632C91.4286 17.4885 91.6749 17.2849 91.8378 17.0212C92.0006 16.7575 92.0821 16.4472 92.0821 16.0904L92.6406 16.1486H89.918V13.8449H95.2002V15.497C95.2002 16.583 94.9695 17.5118 94.5079 18.2836C94.0503 19.0515 93.4182 19.641 92.6115 20.0521C91.8087 20.4593 90.8876 20.6629 89.8482 20.6629C88.6886 20.6629 87.6706 20.4166 86.7941 19.9241C85.9176 19.4315 85.2331 18.7296 84.7405 17.8182C84.2519 16.9068 84.0075 15.8228 84.0075 14.5663C84.0075 13.5812 84.1569 12.7086 84.4555 11.9484C84.758 11.1883 85.1768 10.5464 85.712 10.0229C86.2472 9.49543 86.8658 9.09791 87.5678 8.83031C88.2698 8.55883 89.0221 8.42309 89.8249 8.42309C90.5308 8.42309 91.1862 8.52393 91.7912 8.7256C92.4001 8.92339 92.9372 9.2065 93.4026 9.57493C93.8719 9.93949 94.25 10.3719 94.537 10.8722C94.824 11.3725 94.9985 11.9213 95.0606 12.5185H91.7912ZM99.9428 8.58598V20.5H96.7084V8.58598H99.9428ZM101.15 11.1922V8.58598H111.505V11.1922H107.921V20.5H104.733V11.1922H101.15ZM114.313 20.5H110.823L114.755 8.58598H119.177L123.109 20.5H119.619L117.013 11.867H116.919L114.313 20.5ZM113.662 15.7995H120.224V18.2196H113.662V15.7995ZM124.257 20.5V8.58598H127.491V17.8938H132.308V20.5H124.257ZM105.962 40.5V38.173L110.407 34.4964C110.702 34.2521 110.954 34.0233 111.163 33.81C111.376 33.5928 111.539 33.3698 111.652 33.141C111.768 32.9122 111.826 32.6582 111.826 32.3789C111.826 32.0725 111.76 31.8108 111.629 31.5936C111.501 31.3764 111.322 31.2096 111.093 31.0933C110.865 30.973 110.601 30.9129 110.302 30.9129C110.004 30.9129 109.74 30.973 109.511 31.0933C109.286 31.2135 109.112 31.39 108.987 31.6227C108.863 31.8554 108.801 32.1385 108.801 32.472H105.73C105.73 31.6343 105.918 30.9129 106.294 30.3079C106.67 29.7029 107.201 29.2375 107.888 28.9118C108.574 28.586 109.379 28.4231 110.302 28.4231C111.256 28.4231 112.082 28.5763 112.78 28.8827C113.482 29.1852 114.023 29.6118 114.403 30.1625C114.787 30.7132 114.979 31.3589 114.979 32.0997C114.979 32.5573 114.884 33.013 114.694 33.4668C114.504 33.9166 114.163 34.415 113.67 34.9618C113.178 35.5087 112.478 36.1602 111.57 36.9165L110.453 37.8473V37.9171H115.107V40.5H105.962ZM121.742 40.8258C120.66 40.8219 119.725 40.5717 118.938 40.0753C118.151 39.5789 117.544 38.8634 117.117 37.9287C116.691 36.9941 116.479 35.8732 116.483 34.5663C116.487 33.2554 116.7 32.1423 117.123 31.2271C117.55 30.3118 118.155 29.6157 118.938 29.1386C119.725 28.6616 120.66 28.4231 121.742 28.4231C122.824 28.4231 123.759 28.6635 124.546 29.1444C125.333 29.6215 125.94 30.3176 126.367 31.2329C126.794 32.1482 127.005 33.2593 127.001 34.5663C127.001 35.881 126.788 37.0057 126.361 37.9403C125.934 38.875 125.328 39.5905 124.54 40.087C123.757 40.5795 122.824 40.8258 121.742 40.8258ZM121.742 38.1963C122.301 38.1963 122.758 37.9054 123.115 37.3237C123.476 36.7381 123.654 35.8189 123.65 34.5663C123.65 33.7479 123.569 33.0789 123.406 32.5593C123.243 32.0396 123.018 31.6556 122.731 31.4074C122.444 31.1553 122.114 31.0293 121.742 31.0293C121.184 31.0293 120.728 31.3124 120.375 31.8786C120.022 32.4448 119.842 33.3407 119.834 34.5663C119.83 35.4001 119.91 36.0865 120.072 36.6256C120.235 37.1608 120.46 37.5564 120.747 37.8124C121.038 38.0683 121.37 38.1963 121.742 38.1963ZM128.519 40.5V38.173L132.964 34.4964C133.259 34.2521 133.511 34.0233 133.72 33.81C133.933 33.5928 134.096 33.3698 134.209 33.141C134.325 32.9122 134.383 32.6582 134.383 32.3789C134.383 32.0725 134.317 31.8108 134.185 31.5936C134.057 31.3764 133.879 31.2096 133.65 31.0933C133.421 30.973 133.158 30.9129 132.859 30.9129C132.56 30.9129 132.297 30.973 132.068 31.0933C131.843 31.2135 131.668 31.39 131.544 31.6227C131.42 31.8554 131.358 32.1385 131.358 32.472H128.287C128.287 31.6343 128.475 30.9129 128.851 30.3079C129.227 29.7029 129.758 29.2375 130.445 28.9118C131.131 28.586 131.936 28.4231 132.859 28.4231C133.813 28.4231 134.639 28.5763 135.337 28.8827C136.039 29.1852 136.58 29.6118 136.96 30.1625C137.344 30.7132 137.536 31.3589 137.536 32.0997C137.536 32.5573 137.441 33.013 137.251 33.4668C137.061 33.9166 136.72 34.415 136.227 34.9618C135.735 35.5087 135.035 36.1602 134.127 36.9165L133.01 37.8473V37.9171H137.664V40.5H128.519ZM138.738 38.6384V36.1253L143.531 28.586H145.812V31.9368H144.508L141.926 36.0322V36.1253H148.999V38.6384H138.738ZM144.532 40.5V37.8705L144.602 36.7769V28.586H147.627V40.5H144.532Z" fill="white"/>
      <path d="M143.93 8.58598H147.164V16.2184C147.164 17.1259 146.947 17.9113 146.513 18.5744C146.082 19.2337 145.481 19.7437 144.709 20.1044C143.937 20.4612 143.041 20.6396 142.022 20.6396C140.994 20.6396 140.094 20.4612 139.322 20.1044C138.55 19.7437 137.949 19.2337 137.519 18.5744C137.092 17.9113 136.879 17.1259 136.879 16.2184V8.58598H140.113V15.9392C140.113 16.3076 140.195 16.6373 140.358 16.9281C140.521 17.2151 140.746 17.4401 141.033 17.6029C141.323 17.7658 141.653 17.8473 142.022 17.8473C142.394 17.8473 142.723 17.7658 143.01 17.6029C143.297 17.4401 143.522 17.2151 143.685 16.9281C143.848 16.6373 143.93 16.3076 143.93 15.9392V8.58598ZM148.701 8.58598H152.727L155.496 15.3342H155.636L158.405 8.58598H162.43V20.5H159.266V13.6122H159.173L156.52 20.4069H154.612L151.959 13.5657H151.866V20.5H148.701V8.58598ZM163.963 8.58598H167.989L170.758 15.3342H170.898L173.667 8.58598H177.692V20.5H174.528V13.6122H174.435L171.782 20.4069H169.874L167.221 13.5657H167.128V20.5H163.963V8.58598ZM182.32 20.5H178.83L182.762 8.58598H187.183L191.116 20.5H187.626L185.019 11.867H184.926L182.32 20.5ZM181.669 15.7995H188.231V18.2196H181.669V15.7995Z" fill="url(#paint1_linear_1_92)"/>
      <defs>
      <filter id="filter0_d_1_92" x="5.59399" y="4.13866" width="41.1214" height="41.7295" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix"/>
      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
      <feOffset dx="1.67579" dy="0.515628"/>
      <feGaussianBlur stdDeviation="1.22462"/>
      <feComposite in2="hardAlpha" operator="out"/>
      <feColorMatrix type="matrix" values="0 0 0 0 0.0878588 0 0 0 0 0.256959 0 0 0 0 0.364388 0 0 0 0.49 0"/>
      <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1_92"/>
      <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1_92" result="shape"/>
      </filter>
      <linearGradient id="paint0_linear_1_92" x1="24.5" y1="0" x2="24.5" y2="49" gradientUnits="userSpaceOnUse">
      <stop stop-color="#310082"/>
      <stop offset="1" stop-color="#005F90"/>
      </linearGradient>
      <linearGradient id="paint1_linear_1_92" x1="129" y1="4.5" x2="129" y2="44.5" gradientUnits="userSpaceOnUse">
      <stop stop-color="white" stop-opacity="0.97"/>
      <stop offset="1" stop-color="#FAFAFA" stop-opacity="0.96"/>
      </linearGradient>
      </defs>
    </svg>
  </a>
  <div class="hidden sm:block">
    <svg xmlns="http://www.w3.org/2000/svg" width="51" height="51" viewBox="0 0 51 51" fill="none">
      <circle cx="25.5" cy="25.5" r="25.5" fill="url(#paint0_linear_29_541)"/>
      <g filter="url(#filter0_d_29_541)">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M24.6641 6.40973C25.336 6.29094 25.7127 6.28943 26.3846 6.40973V7.96125C25.7244 7.86535 25.3504 7.84279 24.6641 7.96125V6.40973ZM36.1853 9.85072C36.8477 10.1715 37.1567 10.4465 37.6446 11.0336L36.7076 12.1242C36.1608 11.6604 35.8363 11.4235 35.2329 11.0336L36.1853 9.85072ZM14.6636 17.7467V12.2473C16.7453 10.1284 18.475 9.19533 22.8821 8.13038V6.5635C18.8998 7.28733 16.7116 8.18084 12.9432 11.2488V16.2106H8.79553C7.54683 18.8078 6.98023 20.2805 6.72171 23.0004H8.25787C8.54825 20.9552 8.85225 19.8052 9.67114 17.7467H14.6636ZM33.9117 10.3423C31.7362 9.04326 30.4921 8.53288 28.1972 8.29924V6.57875C30.8979 7.09659 32.3659 7.62674 34.8948 9.0366L33.9117 10.3423ZM34.8028 19.8972C27.9251 15.7438 23.8974 15.3783 16.2613 19.8972C17.0383 13.7863 20.2685 10.1864 25.509 10.1734C30.7619 10.1603 34.5382 14.94 34.8028 19.8972ZM12.7743 22.7852C13.47 22.7852 14.034 22.2212 14.034 21.5255C14.034 20.8299 13.47 20.2659 12.7743 20.2659C12.0786 20.2659 11.5147 20.8299 11.5147 21.5255C11.5147 22.2212 12.0786 22.7852 12.7743 22.7852ZM12.2212 25.3043C12.2212 26 11.6572 26.564 10.9615 26.564C10.2658 26.564 9.70186 26 9.70186 25.3043C9.70186 24.6087 10.2658 24.0447 10.9615 24.0447C11.6572 24.0447 12.2212 24.6087 12.2212 25.3043ZM19.498 31.9858C19.498 32.6505 18.9831 33.1949 18.3305 33.2421V33.7631L17.232 34.8615L22.8514 40.3432V44.1375C18.7678 43.3558 16.7913 42.4366 13.7113 40.1127L14.7866 39.0682C17.2247 40.7748 18.6172 41.5586 21.2077 42.2326V40.9423L15.9233 35.9344L12.5745 39.1757C8.49805 34.5893 6.55384 31.7945 6.62957 24.49H8.64194V25.934H8.24254C8.33641 28.7713 8.65069 30.2019 9.67116 32.478L16.2613 25.934V22.0168C24.1038 16.8373 28.2348 17.2467 34.8181 22.0168L34.941 25.934L41.2853 32.478C41.3941 32.1921 41.498 31.9348 41.5969 31.6903C42.1527 30.315 42.5454 29.3433 42.7139 25.934H41.5776C41.3599 26.3106 40.9527 26.564 40.4864 26.564C39.7907 26.564 39.2268 26 39.2268 25.3043C39.2268 24.6086 39.7907 24.0447 40.4864 24.0447C40.8716 24.0447 41.2165 24.2176 41.4475 24.49H44.3269C44.3821 30.2302 43.2611 32.7687 40.594 36.9022L39.4726 35.8269L40.594 34.1217L38.6585 32.3091L36.2774 34.7362L39.6416 38.1157L39.2268 38.5919L38.6585 39.36L35.0638 35.9344L29.8102 41.0652V43.8456L28.2126 44.1375V40.3432L33.7864 34.8298L32.6782 33.7631V33.0209C32.037 32.9623 31.5347 32.4231 31.5347 31.7665C31.5347 31.0709 32.0987 30.5069 32.7944 30.5069C33.4901 30.5069 34.054 31.0709 34.054 31.7665C34.054 32.0286 33.974 32.272 33.8371 32.4735L33.9071 32.442L34.9994 33.6463L37.491 31.2184L33.6199 27.2551L25.6165 35.1202L17.4134 27.2551L13.4501 31.1723L16.0195 33.6787L17.1286 32.5823C17.033 32.4047 16.9787 32.2016 16.9787 31.9858C16.9787 31.2901 17.5426 30.7261 18.2383 30.7261C18.934 30.7261 19.498 31.2901 19.498 31.9858ZM38.8843 12.303L37.8243 13.409C40.3202 16.0033 41.3649 17.6958 42.3252 21.3202H39.6575C39.4736 20.8524 39.0179 20.5213 38.4848 20.5213C37.7891 20.5213 37.2252 21.0853 37.2252 21.781C37.2252 22.4766 37.7891 23.0406 38.4848 23.0406C38.8246 23.0406 39.1329 22.9061 39.3595 22.6874H42.6786V23.2404H44.2454C43.3434 18.5389 42.4867 16.0296 38.8843 12.303ZM20.3889 32.995L19.2522 34.1318L24.6748 39.4622V44.6545H26.4414V39.4622L31.8486 34.1318L30.6044 32.995L25.5043 37.8032L20.3889 32.995ZM38.4588 18.2995C39.1545 18.2995 39.7184 17.7355 39.7184 17.0398C39.7184 16.3441 39.1545 15.7802 38.4588 15.7802C37.7631 15.7802 37.1991 16.3441 37.1991 17.0398C37.1991 17.7355 37.7631 18.2995 38.4588 18.2995ZM21.177 24.0447L25.4321 28.1923L29.8563 24.0447L31.0852 25.1814L25.555 30.6655L19.948 25.1814L21.177 24.0447ZM12.2212 32.2785L10.4239 34.1065C11.1153 35.28 11.5845 35.8932 12.5745 36.9023L14.7252 34.7363C13.7078 33.8356 13.159 33.2983 12.2212 32.2785ZM36.2775 39.0224L34.6653 40.4065C34.4361 40.1687 34.1144 40.0208 33.7581 40.0208C33.0624 40.0208 32.4984 40.5848 32.4984 41.2805C32.4984 41.9762 33.0624 42.5401 33.7581 42.5401C34.2445 42.5401 34.6665 42.2644 34.8764 41.8608L37.3989 40.1285L36.2775 39.0224Z" fill="white"/>
      </g>
      <defs>
        <filter id="filter0_d_29_541" x="5.82243" y="4.30754" width="42.7998" height="43.4329" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
          <feOffset dx="1.74419" dy="0.536674"/>
          <feGaussianBlur stdDeviation="1.2746"/>
          <feComposite in2="hardAlpha" operator="out"/>
          <feColorMatrix type="matrix" values="0 0 0 0 0.0878588 0 0 0 0 0.256959 0 0 0 0 0.364388 0 0 0 0.49 0"/>
          <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_29_541"/>
          <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_29_541" result="shape"/>
        </filter>
        <linearGradient id="paint0_linear_29_541" x1="25.5" y1="0" x2="25.5" y2="51" gradientUnits="userSpaceOnUse">
          <stop stop-color="#310082"/>
          <stop offset="1" stop-color="#005F90"/>
        </linearGradient>
      </defs>
    </svg>
  </div>
  <div>
    <div class="flex items-center gap-6">
      <nav class="sm:">
        <ul class="sm:hidden flex items-center gap-6">
          {
            navItems.map(({ title, url }) => (
              <li>
                <a class="text-sm active:text-[#9CA5FF] hover:text-[#9CA5FF]" href={url}>
                  {title}
                </a>
              </li>
            ))
          }
        </ul>
      </nav>
      <button
        id="open-nav-button"
        type="button"
        class="btn hidden sm:fixed sm:z-10 sm:bg-[#393344] sm:p-2 sm:rounded-full sm:right-[24px] sm:top-[16px] sm:block"
        aria-label="Navigation"
      >
        <Icon name="mdi:menu" class="size-8" />
      </button>
      <!-- <ThemeSwitcher /> -->
    </div>
    <div id="menu-modal" class="modal hidden" aria-hidden="true">
      <div class="fixed sm:z-20 inset-0 bg-default px-8 py-4 text-default sm:bg-[#060309]">
        <div class="space-y-4" role="dialog" aria-modal="true">
          <header class="text-right">
            <button
              id="close-nav-button"
              type="button"
              class="btn sm:bg-[#393344] sm:p-2 sm:rounded-full sm:right-[24px] sm:top-[16px]"
              aria-label="Close navigation"
            >
              <Icon name="mdi:close" class="size-8" />
            </button>
          </header>
          <div class="flex justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="51" height="51" viewBox="0 0 51 51" fill="none">
              <circle cx="25.5" cy="25.5" r="25.5" fill="url(#paint0_linear_29_541)"/>
              <g filter="url(#filter0_d_29_541)">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M24.6641 6.40973C25.336 6.29094 25.7127 6.28943 26.3846 6.40973V7.96125C25.7244 7.86535 25.3504 7.84279 24.6641 7.96125V6.40973ZM36.1853 9.85072C36.8477 10.1715 37.1567 10.4465 37.6446 11.0336L36.7076 12.1242C36.1608 11.6604 35.8363 11.4235 35.2329 11.0336L36.1853 9.85072ZM14.6636 17.7467V12.2473C16.7453 10.1284 18.475 9.19533 22.8821 8.13038V6.5635C18.8998 7.28733 16.7116 8.18084 12.9432 11.2488V16.2106H8.79553C7.54683 18.8078 6.98023 20.2805 6.72171 23.0004H8.25787C8.54825 20.9552 8.85225 19.8052 9.67114 17.7467H14.6636ZM33.9117 10.3423C31.7362 9.04326 30.4921 8.53288 28.1972 8.29924V6.57875C30.8979 7.09659 32.3659 7.62674 34.8948 9.0366L33.9117 10.3423ZM34.8028 19.8972C27.9251 15.7438 23.8974 15.3783 16.2613 19.8972C17.0383 13.7863 20.2685 10.1864 25.509 10.1734C30.7619 10.1603 34.5382 14.94 34.8028 19.8972ZM12.7743 22.7852C13.47 22.7852 14.034 22.2212 14.034 21.5255C14.034 20.8299 13.47 20.2659 12.7743 20.2659C12.0786 20.2659 11.5147 20.8299 11.5147 21.5255C11.5147 22.2212 12.0786 22.7852 12.7743 22.7852ZM12.2212 25.3043C12.2212 26 11.6572 26.564 10.9615 26.564C10.2658 26.564 9.70186 26 9.70186 25.3043C9.70186 24.6087 10.2658 24.0447 10.9615 24.0447C11.6572 24.0447 12.2212 24.6087 12.2212 25.3043ZM19.498 31.9858C19.498 32.6505 18.9831 33.1949 18.3305 33.2421V33.7631L17.232 34.8615L22.8514 40.3432V44.1375C18.7678 43.3558 16.7913 42.4366 13.7113 40.1127L14.7866 39.0682C17.2247 40.7748 18.6172 41.5586 21.2077 42.2326V40.9423L15.9233 35.9344L12.5745 39.1757C8.49805 34.5893 6.55384 31.7945 6.62957 24.49H8.64194V25.934H8.24254C8.33641 28.7713 8.65069 30.2019 9.67116 32.478L16.2613 25.934V22.0168C24.1038 16.8373 28.2348 17.2467 34.8181 22.0168L34.941 25.934L41.2853 32.478C41.3941 32.1921 41.498 31.9348 41.5969 31.6903C42.1527 30.315 42.5454 29.3433 42.7139 25.934H41.5776C41.3599 26.3106 40.9527 26.564 40.4864 26.564C39.7907 26.564 39.2268 26 39.2268 25.3043C39.2268 24.6086 39.7907 24.0447 40.4864 24.0447C40.8716 24.0447 41.2165 24.2176 41.4475 24.49H44.3269C44.3821 30.2302 43.2611 32.7687 40.594 36.9022L39.4726 35.8269L40.594 34.1217L38.6585 32.3091L36.2774 34.7362L39.6416 38.1157L39.2268 38.5919L38.6585 39.36L35.0638 35.9344L29.8102 41.0652V43.8456L28.2126 44.1375V40.3432L33.7864 34.8298L32.6782 33.7631V33.0209C32.037 32.9623 31.5347 32.4231 31.5347 31.7665C31.5347 31.0709 32.0987 30.5069 32.7944 30.5069C33.4901 30.5069 34.054 31.0709 34.054 31.7665C34.054 32.0286 33.974 32.272 33.8371 32.4735L33.9071 32.442L34.9994 33.6463L37.491 31.2184L33.6199 27.2551L25.6165 35.1202L17.4134 27.2551L13.4501 31.1723L16.0195 33.6787L17.1286 32.5823C17.033 32.4047 16.9787 32.2016 16.9787 31.9858C16.9787 31.2901 17.5426 30.7261 18.2383 30.7261C18.934 30.7261 19.498 31.2901 19.498 31.9858ZM38.8843 12.303L37.8243 13.409C40.3202 16.0033 41.3649 17.6958 42.3252 21.3202H39.6575C39.4736 20.8524 39.0179 20.5213 38.4848 20.5213C37.7891 20.5213 37.2252 21.0853 37.2252 21.781C37.2252 22.4766 37.7891 23.0406 38.4848 23.0406C38.8246 23.0406 39.1329 22.9061 39.3595 22.6874H42.6786V23.2404H44.2454C43.3434 18.5389 42.4867 16.0296 38.8843 12.303ZM20.3889 32.995L19.2522 34.1318L24.6748 39.4622V44.6545H26.4414V39.4622L31.8486 34.1318L30.6044 32.995L25.5043 37.8032L20.3889 32.995ZM38.4588 18.2995C39.1545 18.2995 39.7184 17.7355 39.7184 17.0398C39.7184 16.3441 39.1545 15.7802 38.4588 15.7802C37.7631 15.7802 37.1991 16.3441 37.1991 17.0398C37.1991 17.7355 37.7631 18.2995 38.4588 18.2995ZM21.177 24.0447L25.4321 28.1923L29.8563 24.0447L31.0852 25.1814L25.555 30.6655L19.948 25.1814L21.177 24.0447ZM12.2212 32.2785L10.4239 34.1065C11.1153 35.28 11.5845 35.8932 12.5745 36.9023L14.7252 34.7363C13.7078 33.8356 13.159 33.2983 12.2212 32.2785ZM36.2775 39.0224L34.6653 40.4065C34.4361 40.1687 34.1144 40.0208 33.7581 40.0208C33.0624 40.0208 32.4984 40.5848 32.4984 41.2805C32.4984 41.9762 33.0624 42.5401 33.7581 42.5401C34.2445 42.5401 34.6665 42.2644 34.8764 41.8608L37.3989 40.1285L36.2775 39.0224Z" fill="white"/>
              </g>
              <defs>
                <filter id="filter0_d_29_541" x="5.82243" y="4.30754" width="42.7998" height="43.4329" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                  <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                  <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                  <feOffset dx="1.74419" dy="0.536674"/>
                  <feGaussianBlur stdDeviation="1.2746"/>
                  <feComposite in2="hardAlpha" operator="out"/>
                  <feColorMatrix type="matrix" values="0 0 0 0 0.0878588 0 0 0 0 0.256959 0 0 0 0 0.364388 0 0 0 0.49 0"/>
                  <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_29_541"/>
                  <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_29_541" result="shape"/>
                </filter>
                <linearGradient id="paint0_linear_29_541" x1="25.5" y1="0" x2="25.5" y2="51" gradientUnits="userSpaceOnUse">
                  <stop stop-color="#310082"/>
                  <stop offset="1" stop-color="#005F90"/>
                </linearGradient>
              </defs>
            </svg>
          </div>
          </div>
          <nav>
            <ul class="flex flex-col">
              {
                navItems.map(({ title, url }) => (
                  <li>
                    <a class="block py-4 text-center text-xl" href={url}>
                      {title}
                    </a>
                  </li>
                ))
              }
            </ul>
          </nav>
          <SocialMedia orientation="inline" />
        </div>
      </div>
    </div>
  </div>
</header>

<script>
  import MicroModal from "micromodal";
  import invariant from "tiny-invariant";

  const menuModalId = "menu-modal";

  const header = document.querySelector("#page-header-1") as HTMLElement;
  const page = document.documentElement;
  const menu = document.querySelector(`#${menuModalId} ul`);
  const openNavButton = document.querySelector("#open-nav-button");
  const closeNavButton = document.querySelector("#close-nav-button");

  invariant(header, "header should not be null");
  invariant(menu, "menu should not be null");
  invariant(openNavButton, "openNavButton should not be null");
  invariant(closeNavButton, "closeNavButton should not be null");

  const openMenu = () => {
    MicroModal.show(menuModalId, { disableScroll: true });
  };

  const closeMenu = () => {
    MicroModal.close(menuModalId);
  };

  openNavButton.addEventListener("click", openMenu);
  closeNavButton.addEventListener("click", closeMenu);

  document.addEventListener("scroll", () => {
    const d = page.clientHeight - page.scrollTop - header.offsetHeight;
    // header.classList.toggle("fixed-header", d < 0);
  });

  menu.addEventListener("click", (event) => {
    if ((event.target as HTMLElement).tagName === "A") {
      closeMenu();
    }
  });
</script>

<noscript>
  <style>
    #open-nav-button {
      display: none;
    }
  </style>
</noscript>

<style>
  .fixed-header {
    @apply fixed bottom-auto top-0;
  }
  .modal.is-open {
    @apply block;
  }
</style>
